.layout-auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  &__heading {
    font-size: 1rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    line-height: 1.75rem;
  }

  &__body {
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 64rem;
    width: 100%;
  }
}
